SynchronicWorldConsole/Service References/SynchronicWorldService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" />
  <xs:element name="CreateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="eventt" nillable="true" type="q1:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="CreateEventResult" nillable="true" type="q2:ServiceResponseOfEventHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="GetEventResult" nillable="true" type="q3:ServiceResponseOfEventHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="GetAllEventsResult" nillable="true" type="q4:ServiceResponseOfArrayOfEventHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="eventt" nillable="true" type="q5:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="UpdateEventResult" nillable="true" type="q6:ServiceResponseOfEventHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="DeleteEventResult" nillable="true" type="q7:ServiceResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="person" nillable="true" type="q8:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="CreatePersonResult" nillable="true" type="q9:ServiceResponseOfPersonHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="GetPersonResult" nillable="true" type="q10:ServiceResponseOfPersonHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="person" nillable="true" type="q11:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="UpdatePersonResult" nillable="true" type="q12:ServiceResponseOfPersonHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="DeletePersonResult" nillable="true" type="q13:ServiceResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="GetAllEventsStatusResult" nillable="true" type="q14:ServiceResponseOfArrayOfEventStatusHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEventStatusByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEventStatusByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="FindEventStatusByCodeResult" nillable="true" type="q15:ServiceResponseOfEventStatusHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="GetAllEventsTypeResult" nillable="true" type="q16:ServiceResponseOfArrayOfEventTypeHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEventTypeByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEventTypeByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="FindEventTypeByCodeResult" nillable="true" type="q17:ServiceResponseOfEventTypeHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventContributions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventContributionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="GetEventContributionsResult" nillable="true" type="q18:ServiceResponseOfArrayOfContributionHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonContributions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonContributionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="GetPersonContributionsResult" nillable="true" type="q19:ServiceResponseOfArrayOfContributionHgDy9SCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllPersonContributionsForOpenEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllPersonContributionsForOpenEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="DeleteAllPersonContributionsForOpenEventsResult" nillable="true" type="q20:ServiceResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" minOccurs="0" name="GetDatabaseStatusResult" nillable="true" type="q21:ServiceResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>