SynchronicWorldConsole/Service References/SynchronicWorldService/SynchronicWorldService.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:EventStatus" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:EventType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="EventStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventStatus" nillable="true" type="tns:EventStatus" />
  <xs:complexType name="EventType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventType" nillable="true" type="tns:EventType" />
  <xs:complexType name="ServiceResponseOfEventHgDy9SCH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Event" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfEventHgDy9SCH" nillable="true" type="tns:ServiceResponseOfEventHgDy9SCH" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExceptionList" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InfoList" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WarningList" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="ServiceResponseOfArrayOfEventHgDy9SCH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfEvent" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfArrayOfEventHgDy9SCH" nillable="true" type="tns:ServiceResponseOfArrayOfEventHgDy9SCH" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="ServiceResponseOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfboolean" nillable="true" type="tns:ServiceResponseOfboolean" />
  <xs:simpleType name="EventStatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Open" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="Pending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EventStatusCode" nillable="true" type="tns:EventStatusCode" />
  <xs:simpleType name="EventTypeCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Party" />
      <xs:enumeration value="Lunch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EventTypeCode" nillable="true" type="tns:EventTypeCode" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ServiceResponseOfPersonHgDy9SCH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Person" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfPersonHgDy9SCH" nillable="true" type="tns:ServiceResponseOfPersonHgDy9SCH" />
  <xs:complexType name="ServiceResponseOfArrayOfPersonHgDy9SCH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPerson" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfPerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfArrayOfPersonHgDy9SCH" nillable="true" type="tns:ServiceResponseOfArrayOfPersonHgDy9SCH" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="ServiceResponseOfArrayOfEventStatusHgDy9SCH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfEventStatus" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfEventStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfArrayOfEventStatusHgDy9SCH" nillable="true" type="tns:ServiceResponseOfArrayOfEventStatusHgDy9SCH" />
  <xs:complexType name="ArrayOfEventStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventStatus" nillable="true" type="tns:EventStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventStatus" nillable="true" type="tns:ArrayOfEventStatus" />
  <xs:complexType name="ServiceResponseOfEventStatusHgDy9SCH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EventStatus" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:EventStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfEventStatusHgDy9SCH" nillable="true" type="tns:ServiceResponseOfEventStatusHgDy9SCH" />
  <xs:complexType name="ServiceResponseOfArrayOfEventTypeHgDy9SCH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfEventType" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfEventType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfArrayOfEventTypeHgDy9SCH" nillable="true" type="tns:ServiceResponseOfArrayOfEventTypeHgDy9SCH" />
  <xs:complexType name="ArrayOfEventType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventType" nillable="true" type="tns:EventType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventType" nillable="true" type="tns:ArrayOfEventType" />
  <xs:complexType name="ServiceResponseOfEventTypeHgDy9SCH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EventType" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:EventType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfEventTypeHgDy9SCH" nillable="true" type="tns:ServiceResponseOfEventTypeHgDy9SCH" />
  <xs:complexType name="ServiceResponseOfArrayOfContributionHgDy9SCH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfContribution" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ArrayOfContribution" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfArrayOfContributionHgDy9SCH" nillable="true" type="tns:ServiceResponseOfArrayOfContributionHgDy9SCH" />
  <xs:complexType name="ArrayOfContribution">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contribution" nillable="true" type="tns:Contribution" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContribution" nillable="true" type="tns:ArrayOfContribution" />
  <xs:complexType name="Contribution">
    <xs:sequence>
      <xs:element minOccurs="0" name="FkEvent" type="xs:int" />
      <xs:element minOccurs="0" name="FkPerson" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:ContributionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contribution" nillable="true" type="tns:Contribution" />
  <xs:complexType name="ContributionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContributionType" nillable="true" type="tns:ContributionType" />
  <xs:complexType name="ServiceResponseOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SynchronicWorldService.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfstring" nillable="true" type="tns:ServiceResponseOfstring" />
</xs:schema>